<!DOCTYPE html>
<html>
<head>
    <title>{{ maintenance_mode_site_title }}</title>
    <link href="/style.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/577054faa0.js"></script>
</head>
<body>
<div class="center-of-page">
    <div class="spinner">
        <i id="largeCog" class="fa fa-cog" aria-hidden="true"></i>
        <i id="smallCog" class="fa fa-cog" aria-hidden="true"></i>
    </div>
    <header>
        <h1>Onze website krijgt een update</h1>
        <h2>Over enkele minuten zijn we terug</h2>
    </header>
</div>
</body>
</html>
